{% extends "base.html" %}
{% block body %}

<h1>File</h1>

<h3>Filename: {{ file["filename"] }}</h3>
<h3>Uploader: {{ file["uploader"] }}</h3>
<h3>Uploaded: {{ locale.format_date(file["created_at"], full_format=True) }}</h3>
<h3>Views: {{ file["views"] }}</h3>

<div class="image-container">
    {% if file["filename"].split(".")[-1] in ("apng", "avif", "gif", "jpg", "jpeg", "png", "svg", "webp") %}
        <img class="thumbnail" src="/{{ file['path'] }}">
    {% elif file["filename"].split(".")[-1] in ("mp4", "webm", "ogg") %}
        <video class="thumbnail" controls>
            <source class="thumbnail" src="/{{ file['path'] }}" type="video/{{ file['filename'].split('.')[-1] }}">
        </video>
    {% elif file["filename"].split(".")[-1] in ("wav", "mp3") %}
        <audio class="thumbnail" controls>
            <source class="thumbnail" src="/{{ file['path'] }}" type="audio/{{ 'mpeg' if file['filename'].split('.')[-1] == 'mp3' else 'wav' }}">
        </audio>
    {% else %}
        <img class="thumbnail" src="{{ static_url('file.png') }}">
    {% end %}
</div>

<br>

<button class="button" onclick="copy('{{ handler.application.url }}/{{ file['id'] }}');">Copy Link</button>
{% if current_user["id"] == 1 or current_user["id"] == file["user_id"] %}
    <form class="form" action="/file/{{ file['id'] }}?action=deleteFile" method="POST">
        {% module xsrf_form_html() %}
        <input class="danger" type="submit" onclick="return confirmation('Do you really want to delete this file');" value="Delete">
    </form>
{% end %}

{% end %}
