{% extends "base.html" %}
{% block body %}

{% if message %}
<span style="color: {{ color }};">{{ message }}</span><p>
{% end %}

<h1>Log In</h1>

<form class="form" action="/auth/login" method="POST">
    Username: <input class="text-box" type="text" id="username" name="username"><br>
    Password: <input class="text-box" type="password" id="password" name="password"><br>
    <br>Don't have an account? Contact the owner for an invite link.<br><br>

    {% module xsrf_form_html() %}
    <input class="button" type="submit", value="Log In">
</form>
{% end %}
