{% extends "base.html" %}
{% block body %}

<h1>Setup</h1>

This media server was designed to work with shareX, a screen capturing tool for Windows
<br><a href="https://getsharex.com" class="button">Download ShareX</a><br>

<br>

Now you can download the configuration file and open it with ShareX
<br><a href="/api/download?username={{ username }}" class="button">Download Configuration File</a><br>

<br>

If you don't want to use ShareX you can use the upload page instead
<br><a href="/upload", class="button">Upload File</a>

{% end %}
